{% extends "layout.html" %}
{% block body %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <br>
    <br>
    <h1 class="text-center"><strong>Thank you for your order!</strong></h1>
    <div id="orderTable">
  	<table id="order" class="table table-hover table-condensed hide-start">
      			<thead>
  					<tr>
  						<th style="width:70%">Product</th>
  						<th style="width:10%">Price</th>
  						<th style="width:10%">Quantity</th>
  						<th style="width:10%" class="text-center">Subtotal</th>
  					</tr>
  					</thead>

  					<tbody id="orderItems">
              {% for item in order %}
  						<tr>
  							<td data-th="Product">
  								<div class="row">
  									<div class="col-sm-12">
  										<h4 class="nomargin">{{item.product.name}}</h4>
  									</div>
  								</div>
  							</td>
  							<td data-th="Price">${{item.product.getDiscountPrice()}}</td>
  							<td class="text-center" data-th="Quantity">
                  <span class="text-center" id='quantity{{item.product.productID}}'>&nbsp;{{item.quantity}}&nbsp;</span>
                </td>
  							<td data-th="Subtotal" class="text-center">${{"%.2f" % item.getTotal()}}</td>
  						</tr>
              {% endfor %}
              <tr>
                <td colspan="2" class="hidden-xs"></td>
                <td><strong>Order Total:</strong></td>
                <td class="text-center">${{order.getTotal()}}</td>
              </tr>
  					</tbody>
  				</table>
        </div>
  </div>
</body>
{% endblock %}
