{% extends "layout.html" %}
{% block body %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type=text/javascript>
      function addBinds() {
        $('.addToCart').bind('click', function() {
          var val = $("#"+this.id).val();
          $.getJSON('/addToCart/'+$(this).attr('id')+"/"+val,
              function(data) {
          });
        $("#products").load('/ #products', function() {
           addBinds();
           addedToCart(val);
         });

      return false;
      });
    }
    function addedToCart(val) {
      var successMsg = "<div class='alert alert-success text-center'><strong>Item added to cart!</strong>&nbsp;-&nbsp;<a href='cart'>Click here to see your cart</a></div>";
      var errorMsg = "<div class='alert alert-danger text-center'><strong>Error adding item to cart</strong></div>";
      if(val>0){
        // $('div.itemAdded').stop();
        $('div.top-success').fadeIn(500).delay(1500).fadeOut(500);
      }
      else{
        // $('div.itemAdded').stop();
        $('div.top-danger').fadeIn(500).delay(1500).fadeOut(500);
      }

  }
</script>
</head>
<body onload="addBinds()">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class='top-success alert alert-success text-center'><strong>Item added to cart!</strong>&nbsp;-&nbsp;<a href='cart'>Click here to see your cart</a></div>
    <div class='top-danger alert alert-danger text-center'><strong>Error adding item to cart</strong></div>
    <br>
    <br>
  	<table id="products" class="table table-hover table-condensed">

      			<thead>
  						<tr>
  							<th style="width:70%">Product</th>
  							<th style="width:10%">Price</th>
  							<th style="width:10%">Quantity</th>
  							<th style="width:10%"></th>
  						</tr>
  					</thead>
  					<tbody>
              {% for product in products %}
                {% for item in cart if item.product.productID == product.productID %}
                  {% set cartQuant = item.quantity %}
        						<tr>
        							<td data-th="Product">
        								<div class="row">
        									<div class="col-sm-12">
        										<h4 class="nomargin">{{product.name}}</h4>
        									</div>
        								</div>
        							</td>
        							<td data-th="Price">${{product.getDiscountPrice()}}</td>
        							<td data-th="Quantity">
                        <select id={{product.productID}} name="quant" class="text-center">
                          {% if product.quantityAvailable - cartQuant == 0 %}
                            <option value="0">0</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=1 %}
                            <option value="1">1</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=2 %}
                            <option value="2">2</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=3 %}
                            <option value="3">3</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=4 %}
                            <option value="4">4</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=5 %}
                            <option value="5">5</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=6 %}
                            <option value="6">6</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=7 %}
                            <option value="7">7</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=8 %}
                            <option value="8">8</option>
                          {% endif %}
                          {% if product.quantityAvailable - cartQuant >=9 %}
                            <option value="9">9</option>
                          {% endif %}
                        </select>

                      </td>
        							<td class="actions" data-th="">
                        {% if product.quantityAvailable - cartQuant >=1 %}
                          <button id="{{product.productID}}" class="btn btn-success btn-block addToCart">Add to cart</button>
                        {%else%}
                          <button class="btn btn-danger btn-block">Out of Stock</button>
                        {% endif %}
        							</td>
        						</tr>
                  {% else %}
                  <tr>
                    <td data-th="Product">
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="nomargin">{{product.name}}</h4>
                        </div>
                      </div>
                    </td>
                    <td data-th="Price">${{product.getDiscountPrice()}}</td>
                    <td data-th="Quantity">
                      <select id={{product.productID}} name="quant" class="text-center">
                        {% if product.quantityAvailable==0 %}
                          <option value="0">0</option>
                        {% endif %}
                        {% if product.quantityAvailable>=1 %}
                          <option value="1">1</option>
                        {% endif %}
                        {% if product.quantityAvailable>=2 %}
                          <option value="2">2</option>
                        {% endif %}
                        {% if product.quantityAvailable>=3 %}
                          <option value="3">3</option>
                        {% endif %}
                        {% if product.quantityAvailable>=4 %}
                          <option value="4">4</option>
                        {% endif %}
                        {% if product.quantityAvailable>=5 %}
                          <option value="5">5</option>
                        {% endif %}
                        {% if product.quantityAvailable>=6 %}
                          <option value="6">6</option>
                        {% endif %}
                        {% if product.quantityAvailable>=7 %}
                          <option value="7">7</option>
                        {% endif %}
                        {% if product.quantityAvailable>=8 %}
                          <option value="8">8</option>
                        {% endif %}
                        {% if product.quantityAvailable>=9 %}
                          <option value="9">9</option>
                        {% endif %}
                      </select>

                    </td>
                    <td class="actions" data-th="">
                      {% if product.quantityAvailable>=1 %}
                        <button id="{{product.productID}}" class="btn btn-success btn-block addToCart">Add to cart</button>
                      {%else%}
                        <button class="btn btn-danger btn-block">Out of Stock</button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% endfor %}
  					</tbody>
            <tfoot>
  						<tr>
  							<td colspan="3" class="hidden-xs"></td>
  							<td><a href="/cart" class="btn btn-success btn-block">Cart <i class="fa fa-angle-right"></i></a></td>
  						</tr>
  					</tfoot>
  	</table>

  </div>
</body>
{% endblock %}
